@import "tailwindcss";

@theme {
    --color-blue-green: #47a1c8;
    --color-paynes-gray: #4f748a;
    --color-reseda-green: #717946;
    --color-apple-green: #b0b952;
    --color-lemon-chiffon: #f2eeca;
    --color-fuchsia-rose: #cd517a;
    --color-amaranth-purple:#ae325c;
    --color-amaranth-pink: #ef93b2;
    --color-orchid-pink: #f7b6cc;
    --color-lavender-blush: #fdedf2;
    --color-verdigris:#569b99;
    --color-xanthous: #fbb73b;
    --inset-shadow: 4px 2px 0 var(--color-orchid-pink);
}


.custom-swiper-button-prev,
.custom-swiper-button-next {
  color: var(--color-amaranth-pink); /* cor rosa kawaii */
  font-size: 1.8rem;
  /* background-color: var(--color-lavender-blush); rosa claro */
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  /* box-shadow: 0 0 8px #fbcfe8; */
  transition: background-color 0.3s;
  z-index: 10;
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
  color: var(--color-orchid-pink);
  /* box-shadow: var(--inset-shadow); */
}

.custom-swiper-button-prev {
  left: 0.5rem;
}

.custom-swiper-button-next {
  right: 0.5rem;
}





.font-menlo{
  font-family: Menlo, Monaco, 'Courier New', monospace;
}