@import "tailwindcss";

@theme {
  --color-blue-green: #47a1c8;
  --color-paynes-gray: #4f748a;
  --color-reseda-green: #717946;
  --color-apple-green: #b0b952;
  --color-lemon-chiffon: #f2eeca;
  --color-fuchsia-rose: #cd517a;
  --color-amaranth-purple: #ae325c;
  --color-amaranth-pink: #ef93b2;
  --color-orchid-pink: #f7b6cc;
  --color-lavender-blush: #fdedf2;
  --color-verdigris: #569b99;
  --color-xanthous: #fbb73b;
  --spacing-padding-title: 3rem;
  --spacing-lion-widht: min(64px, 20vw);
  --spacing-img-duck-width: min(60vw, 375px);
  --spacing-button-padding: min(3vw, 12px);
  --inset-shadow-navbar: 6px 4px 0 var(--color-paynes-gray);
  --inset-shadow-activeNav: 4px 2px 0 var(--color-fuchsia-rose);
  --inset-shadow-activeRef: 4px 2px 0 var(--color-amaranth-purple);
  --inset-shadow-navbarButton: 4px 2px 0 var(--color-orchid-pink);
  --inset-shadow-refButton: 4px 2px 0 var(--color-fuchsia-rose);
  --font-menlo: Menlo, Monaco, "Courier New", monospace;
}

@layer components {
  .page-container {
    @apply flex flex-col text-center justify-center items-center font-menlo;
  }

  .page-heading {
    @apply text-xl font-bold text-white text-center;
  }

  .icon-inline-container {
    @apply inline-flex items-center align-middle ml-1;
  }

  .icon-inline {
    @apply text-[min(4vw,16px)] mx-1;
  }

  /* About Page */
  .about-heading {
    @apply text-base md:text-lg font-semibold text-orchid-pink;
  }

  .about-paragraph {
    @apply text-xs md:text-base;
  }

  .profile-photo {
    @apply w-25 h-25 rounded-full overflow-hidden border-4 border-lemon-chiffon;
  }

  /* Navbar Buttons */
  .btn-3d {
    @apply bg-amaranth-pink p-[var(--spacing-button-padding)] rounded-full transition-all cursor-pointer text-lemon-chiffon;
    box-shadow: var(--inset-shadow-navbarButton);
  }
  .btn-3d:hover {
    @apply hover:translate-y-[-2px];
  }
  .btn-3d:active {
    @apply active:translate-x-[4px] text-fuchsia-rose;
    box-shadow: var(--inset-shadow-activeNav);
  }
  .btn-ref {
    @apply bg-amaranth-pink p-[var(--spacing-button-padding)] rounded-full transition-all cursor-pointer text-fuchsia-rose;
    box-shadow: var(--inset-shadow-refButton);
  }
  .btn-ref:hover {
    @apply hover:translate-y-[-2px];
  }
  .btn-ref:active {
    @apply active:translate-x-[4px] text-amaranth-purple;
    box-shadow: var(--inset-shadow-activeRef);
  }

  /* MyWorks Page*/
  .card-container {
    @apply w-[min(45vw,320px)] aspect-[3/4] bg-lavender-blush border-4 border-amaranth-pink rounded-3xl p-3 flex flex-col items-center mx-auto;
  }
  .card-image {
    @apply w-full h-auto object-cover rounded-2xl mb-2 shadow-md;
  }
  .card-title {
    @apply text-base md:text-lg font-bold text-fuchsia-rose mb-1 text-center;
  }
  .card-description {
    @apply text-fuchsia-rose text-xs text-center;
  }

  /* Swiper in My Works Page */
  .custom-swiper-button-prev,
  .custom-swiper-button-next {
    color: var(--color-amaranth-pink);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
  }
  .custom-swiper-button-prev {
    left: 0.5rem;
  }
  .custom-swiper-button-next {
    right: 0.5rem;
  }
  .custom-swiper-button-prev:hover,
  .custom-swiper-button-next:hover {
    color: var(--color-orchid-pink);
  }
  .custom-swiper-button-prev.swiper-button-disabled,
  .custom-swiper-button-next.swiper-button-disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
