@import "tailwindcss";

@theme {
    --color-blue-green: #47a1c8;
    --color-paynes-gray: #4f748a;
    --color-reseda-green: #717946;
    --color-apple-green: #b0b952;
    --color-lemon-chiffon: #f2eeca;
    --color-fuchsia-rose: #cd517a;
    --color-amaranth-purple:#ae325c;
    --color-amaranth-pink: #ef93b2;
    --color-orchid-pink: #f7b6cc;
    --color-verdigris:#569b99;
    --color-xanthous: #fbb73b;
    --spacing-padding-title: 3rem;
    --spacing-lion-widht: min(64px,20vw);
    --spacing-img-duck-width: min(60vw,375px); 
    --inset-shadow-navbar: 6px 4px 0 var(--color-paynes-gray);
    --inset-shadow-activeNav: 4px 2px 0 var(--color-fuchsia-rose);
    --inset-shadow-activeRef: 4px 2px 0 var(--color-amaranth-purple);
    --inset-shadow-navbarButton: 4px 2px 0 var(--color-orchid-pink);
    --inset-shadow-refButton: 4px 2px 0 var(--color-fuchsia-rose);
}

@layer components {
  .btn-3d {
    @apply bg-amaranth-pink p-[var(--spacing-button-padding)] rounded-full transition-all cursor-pointer text-lemon-chiffon;
    box-shadow: var(--inset-shadow-navbarButton);
  }
  .btn-3d:hover {
    @apply hover:translate-y-[-2px];
  }
  .btn-3d:active {
    @apply active:translate-x-[4px] text-fuchsia-rose;
    box-shadow: var(--inset-shadow-activeNav);
  }
  .btn-ref {
    @apply bg-amaranth-pink p-[var(--spacing-button-padding)] rounded-full transition-all cursor-pointer text-fuchsia-rose;
    box-shadow: var(--inset-shadow-refButton);
  }
  .btn-ref:hover {
    @apply hover:translate-y-[-2px];
  }
  .btn-ref:active {
    @apply active:translate-x-[4px] text-amaranth-purple;
    box-shadow: var(--inset-shadow-activeRef);
  }
  .photo {
    @apply w-25 h-25 rounded-full overflow-hidden border-4 border-lemon-chiffon;
  }
}

.font-delius{
  font-family: 'Delius Swash Caps', cursive;
}
.font-menlo{
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

