@import "tailwindcss";

@theme {
    --color-reseda-green: #717946;
    --color-apple-green: #b0b952;
    --color-lemon-chiffon: #f2eeca;
    --color-fuchsia-rose: #cd517a;
    --color-amaranth-pink: #ef93b2;
    --spacing-padding-title: 3rem;
    --spacing-lion-widht: min(20vw,60px);
}